<!-- Gallery Section -->
<section id="gallery" class="wedding-section">
  <div class="container">
    <h2 class="section-title">Share Your Moments</h2>
    <div class="gallery-content">
      <p>Capture and share your favorite moments with us!</p>
      <div class="hashtag">#PriyaWedsRaj2025</div>

      <div class="social-icons">
        <a href="#" class="social-icon social-icon-instagram"> Instagram</a>
        <a href="#" class="social-icon social-icon-facebook">Facebook</a>
        <a href="#" class="social-icon social-icon-x">𝕏</a>
        <a href="#" class="social-icon social-icon-tiktok">🎶 TikTok</a>
      </div>

      <div class="gallery-grid">
        <div class="gallery-item" style="background-image: url('images/Indian 1.jpg'); background-size: cover; background-position: center;"></div>
        <div class="gallery-item" style="background-image: url('images/Indian 2.jpg'); background-size: cover; background-position: center;"></div>
        <div class="gallery-item" style="background-image: url('images/indian 3.png'); background-size: cover; background-position: center;"></div>
        <div class="gallery-item" style="background-image: url('images/Indian 6.png'); background-size: cover; background-position: center;"></div>
        <div class="gallery-item" style="background-image: url('images/Indian 7.png'); background-size: cover; background-position: center;"></div>
        <div class="gallery-item" style="background-image: url('images/Indian 8.png'); background-size: cover; background-position: center;"></div>
      </div>
    </div>
  </div>
</section>
